* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  /* border: 1px solid red; */
  width: 990px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav li {
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #727272;
}

nav .active a,
nav a:hover {
  background-color: #39aae1;
  color: white;
  border-radius: 1px;
  box-shadow: 1px 1px 2px #363636;
}

#banner {
  display: flex;
  justify-content: center;
  background-image: url(imagens/img1.jpg);
  background-position: center;
  background-size: cover;
  height: 670px;
}

.column {
  flex-direction: column;
}

.texto__principal {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
}

.texto__principal h1 {
  color: white;
  font-size: 70px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.texto__principal h2 {
  color: white;
  font-size: 21px;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-top: 30px;
}

.banner__options {
  /* background-color: green; */
  height: 210px;
  display: flex;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: #ffffff;
  padding: 20px;
}

.banner1 {
  background-color: #39aae1;
}

.banner2 {
  background-color: #0079ac;
}

.banner3 {
  background-color: #2b4c99;
}

.banner__title {
  font-size: 21px;
}

.banner__desc {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner__options a {
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 5px;
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
}

#geral {
  display: flex;
  justify-content: center;
}

#geral section {
  flex: 2;
}

#geral aside {
  flex: 1;
}

.widget__title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget__title__text {
  color: black;
  font-size: 21px;
  font-weight: bold;
}

.widget__barra {
  width: 50px;
  height: 3px;
  background-color: #36a9e1;
  margin-top: 10px;
}

article .news__date {
  display: flex;
}

article .news__posted__at {
  background-color: #2b4c99;
  font-size: 12px;
  color: white;
  padding: 10px;
  margin-right: 3px;
}

article .coments {
  background-color: #39aae1;
  font-size: 12px;
  color: white;
  padding: 10px;
}

article .news__miniatura img {
  width: 100%;
  height: auto;
}

article .news__miniatura {
  margin-top: 30px;
}

article .news__title {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000000;
  font-size: 23px;
}

article .news__resumo {
  color: #5c5c5c;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}

article a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

article {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}

/* Area Aside */

aside {
  flex: 1;
}

aside .wid__retangulos {
  background-color: #0079ac;
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.flex__aside {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}

footer .footer__menu {
  flex: 1;
  display: flex;
}

.fm__1,
.fm__2,
.fm__3 {
  flex: 1;
  color: #ffffff;
  padding: 20px;
}

.fm__1 {
  background-color: #39aae1;
}

.fm__2 {
  background-color: #0079ac;
}

.fm__3 {
  background-color: #2b4c99;
}

.footer__area {
  display: flex;
}
.footer__areaitem {
  flex: 1;
  display: flex;
  color: #ffffff;
  flex-direction: column;
}

.flex__column {
  flex-direction: column;
}

footer .widget__title__text {
  color: #ffffff;
}

.footer__copy {
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  color: #5c5c5c;
  font-size: 12px;
  margin-top: 30px;
}

footer .footer__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top: -5px;
}

footer .footer__subtitle {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
